header {
  background-color: #ffffff;
  box-shadow: 0 8px 6px -6px rgb(176, 174, 174);
  .header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.2rem;
  }
  .logo {
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color: #54616c;
      span {
        color: #bac0c4;
      }
    }
  }
  .navbar {
    ul {
      align-items: center;
      .sign-up {
        background-color: #bac0c4;
        padding: 0.7rem 1.5rem;
        border-radius: 20px;
        p {
          font-weight: 500;
        }
      }

      .login {
        margin-right: 2rem;
        p {
          font-size: 1.3rem;
          color: #54616c;
        }
      }
    }
  }
}
